<ActionBar title="VraiFauxApp">
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <Image src="res://gamelogo" class="action-image"></Image>
    </StackLayout>
</ActionBar>

<GridLayout rows="50 ,100, 100, 100">
    <Label row="0" text="OPTIONS" class="m-15 text-center"></Label>
    <StackLayout row="1" orientation="vertical">
        <Label text="Niveau de difficulté" class="optionCateg"></Label>
        <StackLayout orientation="horizontal">
            <Button
                    class="button blueButton"
                    [text]="game_settings.difficulty.label"
                    (tap)="changeDifficulty()">
            </Button>
        </StackLayout>
    </StackLayout>
    <StackLayout row="2">
        <Label text="Choix du thème" class="optionCateg"></Label>
        <ListPicker [items]="themes" selectedIndex="{{ actualThemeIndex }}" (selectedIndexChange)="changeTheme($event)"></ListPicker>
    </StackLayout>
    <StackLayout row="3">
<!--        <Label text="Effets" class="optionCateg"></Label>-->
    </StackLayout>
</GridLayout>
