<ActionBar title="VraiFauxApp">
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="left">
        <Label text="Vrai ou faux ??" fontSize="20"></Label>
    </StackLayout>
</ActionBar>

<GridLayout rows="160, *,60">
    <StackLayout row="0">
        <Image
        src="res://gamelogo">
        </Image>
    </StackLayout>
    <StackLayout row="1">
        <GridLayout rows="100, 100, 100">
            <Button
                    text="JOUER"
                    class="button blueButton"
                    horizontalAlignment="center"
                    verticalAlignment="center"
                    [nsRouterLink]="['/question']"
                    row="0">
            </Button>
            <Button
                    text="CLASSEMENT"
                    class="button blueButton"
                    horizontalAlignment="center"
                    verticalAlignment="center"
                    row="1">
            </Button>
            <Button
                    text="PROPOSER UNE QUESTION"
                    class="button blueButton"
                    horizontalAlignment="center"
                    verticalAlignment="center"
                    row="2">
            </Button>
        </GridLayout>
    </StackLayout>
    <StackLayout row="2">
        <Button text="OPTIONS" class="button redButton" [nsRouterLink]="['/options']"></Button>
    </StackLayout>
</GridLayout>

